.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin*/;
  pointer-events: none;
}

.Text-logo {
  /*height: 40vmin;*/
  pointer-events: none;
}


/* logo image */
.synapse-logo {
  position: absolute;
  width: auto;
  height: 50px !important;
  left: 36px;
  top: 36px;
}


/* logo text */
.synapse-text {
  position: relative;
  width: auto;
  height: 50px !important;
}

/* logo text */
.synapse-div {
  position: absolute;
  width: auto;
  height: 50px !important;
  left: 100px;
  top: 36px;
}

.logoBalance {
  font-size: 10px;
  position: absolute;
  top: 50px;
  left: 0px;
}
.acctBalance {
  font-size: 10px;
}
.handBalance {
  font-size: 10px;
}

.infoFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .Text-logo {
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


th, td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

hr {
  border: 1px solid white !important;
  margin-top: 100px;
  width: 80%;
}



.App #t01 {
  border: 2px solid white;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  align-items:flex-start;
  font-size:14px;
  text-align: left;
}


.latestText {
  margin-top: 55px !important;
  margin-bottom: -35px !important;
}
.thought-wrap {
  max-width:490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius:3px;
  padding: 30px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

.thought-head {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.thought-info {
  font-weight:bold;
}
.thought-info span {
  color:#657786;
  font-weight:normal;
  text-align: left;
}
.thought-info p {
  color: black;
  font-weight:normal;
  margin-top: 5px;
  text-align: left;

}

.thought-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.thought-counts div {
  display: flex;
  margin-right: 20px;
  font-weight: normal;
  font-size: 12px;
  color: black;
}

.thought-counts div svg {
  color:#657786;
  margin-right: 10px;
}

.thoughtBox {
  width: 60% !important;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.formDiv {
  margin-top: 60px;
  width: 100%;
}

.thoughtForm {
  width: 100%;
}


@media screen and (max-width:430px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .thought-head {
    flex-direction:column;
  }
  .thought-info p {
    margin-bottom: 30px;
  }
  .thought-counts {
  display: flex;
  margin-left: 0;
}
.thought-counts div {
  margin-right: 10px;
}
}
